.item {
    display: grid;
    grid-template-columns: 1fr 30px;
    align-items: center;
}
.wrapper {
    cursor: pointer;
    opacity: 1;
    &:hover {
        opacity: var(--opacity);
        transition: var(--opacity-transition);
    }
}
.label {
    &:hover {
        opacity: var(--opacity);
        transition: var(--opacity-transition);
    }
}
.button {
    cursor: pointer;
    border: none;
    background: none;
}