.form {
    display: flex;
    gap: 4px;
    align-items: top;
}

.submitButton {
    height: 56px;
    background: none;
    padding: 4px;
    cursor: pointer;
    border-radius: 4px;
    border-color: #1976d2;
    background-color: #1976d2;
    color: white;
    opacity: 1;
    border-width: 1px;
    border-style: solid;
    &_disabled {
        background-color: #d3d3d3;
        border-color: #d3d3d3;
        cursor: default;
        pointer-events: none;
    }
    &:hover {
        opacity: var(--opacity);
        transition: var(--opacity-transition);
    }
}