:root {
    --font-golos-regular: "GolosTextWebRegular", Arial, sans-serif;
    --font-golos-bold: "GolosTextWebBold", Arial, sans-serif;
    --font-golos-demibold: "GolosTextWebDemibold", Arial, sans-serif;
    --opacity-transition: opacity 0.2s linear;
    --opacity: 0.7;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 32px;
}

html { overflow-y: scroll; }